# numeric packages
setuptools
Cython
numpy
scipy
matplotlib
pandas
sklearn
nltk
seaborn
PyOpenGL
rstr
regex
Faker
bs4
#spacy - Too heavy
statsmodels
plotly
pydot
theano
keras
pillow
bokeh
imageio
scrapy
# Add pip param -I in Install.sh and execute with this.
jupyter
#tensorflow - sudo -H pip3 install -U tensorflow
